# 1. Pandas Series Object

In [1]:
import pandas as pd
import numpy as np

In [8]:
data = np.linspace(0.25, 1, 4)
data

array([0.25, 0.5 , 0.75, 1.  ])

In [11]:
pd_series = pd.Series(data)
pd_series

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
pd_series[0]

0.25

In [14]:
pd_series[0:2]

0    0.25
1    0.50
dtype: float64

In [17]:
b = pd.Series(data, index = ['a', 'b','c', 'd'])
b

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [19]:
c = pd.Series({ 'a': 0.25, 'b': 0.5, 'c': 0.75, 'd': 1 })
c

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

### Series as specialized dictionary

In [20]:
population_dict = {
    'California': 38332521,
    'Texas': 26448193,
    'New York': 19651127,
    'Florida': 19552860,
    'Illinois': 12882135
}

In [22]:
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [29]:
population['Texas':'Florida']

Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

# 2. DataFrame Object

In [30]:
area_dict = { 'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995 }

In [31]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [33]:
states = pd.DataFrame({ 'population': population, 'area': area })
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [35]:
states.loc['Texas']

population    26448193
area            695662
Name: Texas, dtype: int64

In [37]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [41]:
states['area'][1:2]

Texas    695662
Name: area, dtype: int64

# 3. The Pandas Index Object

In [44]:
ind = pd.Index([2, 3, 4, 5])
ind

Int64Index([2, 3, 4, 5], dtype='int64')

In [46]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

4 (4,) 1 int64

In [47]:
ind1 = pd.Index([1,3,5,7,9])
ind2 = pd.Index([2,3,4,7,11])

In [48]:
ind1 & ind2

Int64Index([3, 7], dtype='int64')

In [49]:
ind1 | ind2

Int64Index([1, 2, 3, 4, 5, 7, 9, 11], dtype='int64')

In [50]:
# Symmetric Difference : (AUB)-(A∩B)
ind1 ^ ind2

Int64Index([1, 2, 4, 5, 9, 11], dtype='int64')